.gradient-overlay {
    height: 70%;
    background-image: linear-gradient(to bottom, transparent, rgb(255, 254, 254));

  }


  .box1 {
    position: absolute;
    top: 200px;
    left: 0px;

    
  }

   .box2 {
    position: absolute;
    top: 200px;
    left: 330px;
    
  } 

   .box3 {
    position: absolute;
    top: 200px;
    left: 660px;
    
  }

  .box4 {
    position: absolute;
    top: 200px;
    left: 990px;
    
  }  


  .carotay {
    Position:relative;
  }



  .box5 {
    position: absolute;
    left: 20px;

    
  }

   .box6 {
    position: absolute;
    left: 340px;
    
  } 

   .box7 {
    position: absolute;
    left: 660px;
    
  }

  .box8 {
    position: absolute;
    left: 980px;
    
  }  



  .sld1 {
    margin-left: 1.3rem;
  }


  .sld2 {
    margin-right: 6.7rem;
  }

/* 
  .locup {
    margin-bottom: 2rem;
  } 


  .bart {
    margin-bottom: 2rem;
  }

  .langt {
    margin-bottom: 2rem;
  } */

  

